@import '../variables.scss';

.work {
    max-height: 50vh;
    height: 80vh;
    color: #fff;
    background-color: #000;
}

.work img {
    transition: opacity 0.5s;
}

.work img:hover {
    opacity: 0.7 !important;
}

.work_name {
    transform: translateY(-350px);
    pointer-events: none;
}

.work_show_more a {
    transition: all 0.5s;
    border: 1px solid $black;

    &:hover {
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.185);
    }
}
