$white: #e2e2e2;
$black: #1e1e1e;
$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 1rem;
$spacer-4: 1.5rem;
$spacer-5: 3rem;
$spacer-6: 4.5rem;
$spacer-7: 6rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
