@charset "UTF-8";
@font-face {
  font-family: "zero";
  src: url(data:application/font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAA8AAAAABwgAAAKIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGiYGYACCUggEEQgKaH4BNgIkAxgLDgAEIAWFKAdMP3dlYmYGGwkGyA4lBVMACkgMQkA8fL/f/9Y+hpg38WaSzKJ6ZSidITMk2v8hEUUlwU/Q3nCv1nQvBMJmVgbZAbB72AuDjFGRERarO75SdPr76VuL/xWAVbz7swqNaIu2BqrWbt/5wMfDIW6Rm+jej4l8GwKe3BtxEPDo/uUBeLr38zwMwzGRhUIIVShIkPsCpYi/qlJX1DsxK16eXzqeRoOkZU5E+ix2nczI8Gv2gl7j/zkom1mxsDjlbAxgzJjert9GKcrWKkuBwe4nCbM9FvS6Lu3Qfe+OvxtCTR1NURhpF1FOoljh/2KzUNi7NtcxmOg6o0DDLY/PGILRxGMXn88FUUoMuzrqylHzkOGxmXr/bN/h/abrD+9udl1fWLK6f1DxZ3lfqx8yfE4yz9yEqJr+QS16Ogj9NoagPblcDo1a/c+swcDLi5sfO6XjdT+44VCCsrl7s/f8dPy9fAta+m0zIN06KXOgUVmYEALroT9ouGuyKENwg1waZspMlpAMd5uQnfVHKBZGmFDNDpHQzIwb4Y6J8SDctTR+CPcMjl/QfUNj4EVvs6nxb5MtItgjMiS6QEWCnZUl8+t1bihlRTK2JVgiBtCsk4m9MZRlwD6evDVCkJ+bl5lsNba3txbncWE+Dsu1bjtc3rVE9myuyNaKNpDl2TtrAgnZqSxc/8TBYkljHBpSUbv05ELUkmHE4Ix6iAihjHHx8Q/Gz8sngCceZdAdx9tJzLMEXjhwx9V4IR0mBvYJwQiit9jLUMIaKZUFIar6kDh/KA8J7xx42+1nCFnvi4mBfU6zUMvGwcT2LgXz/1iz4yTnrkakyHKUqO3U+ct67It8/YMOFyfepRuWilP8q7ZuArZ/8eKbAAA=) format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  font-size: 1.6em;
  background-color: #424242;
}

.info {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.12);
}
.info-input {
  display: none;
}
.info-input:checked:nth-of-type(1) ~ .info-tab .info-tab-label:nth-of-type(1) .info-tab-label-dot {
  background-color: #fff;
  transform: scale(1.2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
.info-input:checked:nth-of-type(1) ~ .info-arrow.mod-left .info-arrow-label:nth-of-type(0) {
  opacity: 1;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
}
.info-input:checked:nth-of-type(1) ~ .info-arrow.mod-right .info-arrow-label:nth-of-type(2) {
  opacity: 1;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
}
.info-input:checked:nth-of-type(1) ~ .info-content .info-content-page {
  transform: scale(1) translateX(0%);
}
.info-input:checked:nth-of-type(2) ~ .info-tab .info-tab-label:nth-of-type(2) .info-tab-label-dot {
  background-color: #fff;
  transform: scale(1.2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
.info-input:checked:nth-of-type(2) ~ .info-arrow.mod-left .info-arrow-label:nth-of-type(1) {
  opacity: 1;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
}
.info-input:checked:nth-of-type(2) ~ .info-arrow.mod-right .info-arrow-label:nth-of-type(3) {
  opacity: 1;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
}
.info-input:checked:nth-of-type(2) ~ .info-content .info-content-page {
  transform: scale(1) translateX(-100%);
}

.info-input:checked:nth-of-type(3) ~ .info-tab .info-tab-label:nth-of-type(3) .info-tab-label-dot {
  background-color: #fff;
  transform: scale(1.2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
.info-input:checked:nth-of-type(3) ~ .info-arrow.mod-left .info-arrow-label:nth-of-type(2) {
  opacity: 1;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
}
.info-input:checked:nth-of-type(3) ~ .info-arrow.mod-right .info-arrow-label:nth-of-type(4) {
  opacity: 1;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
}
.info-input:checked:nth-of-type(3) ~ .info-content .info-content-page {
    transform: scale(1) translateX(-200%);
  }

.info-input:checked:nth-of-type(4) ~ .info-tab .info-tab-label:nth-of-type(4) .info-tab-label-dot {
    background-color: #fff;
    transform: scale(1.2);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
  }
  .info-input:checked:nth-of-type(4) ~ .info-arrow.mod-left .info-arrow-label:nth-of-type(3) {
    opacity: 1;
    z-index: 20;
    cursor: pointer;
    pointer-events: auto;
  }
  .info-input:checked:nth-of-type(4) ~ .info-arrow.mod-right .info-arrow-label:nth-of-type(5) {
    opacity: 1;
    z-index: 20;
    cursor: pointer;
    pointer-events: auto;
  }
  .info-input:checked:nth-of-type(4) ~ .info-content .info-content-page {
    transform: scale(1) translateX(-200%);
  }


.info-tab {
  position: absolute;
  right: 0;
  bottom: 2.5rem;
  left: 0;
  z-index: 100;
  text-align: center;
}
.info-tab-label {
  padding: 1rem 1rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transform: scaleY(1);
  transition: transform 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99), opacity 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99);
}
.info-tab-label:hover .info-tab-label-dot {
  transform: scale(1.2);
  background-color: #fff;
}
.info-tab-label-dot {
  display: block;
  position: relative;
  z-index: 100;
  padding: 0.5rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99), box-shadow 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99), background-color 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99);
}
.info-arrow {
  position: absolute;
  z-index: 15;
  top: 0;
  bottom: 0;
  display: block;
}
.info-arrow.mod-left {
  left: -4rem;
}
.info-arrow.mod-right {
  right: 0rem;
}
.info-arrow-label {
  position: absolute;
  z-index: 15;
  display: block;
  width: 4rem;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99);
}
.info-arrow-label:after {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99), box-shadow 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99), color 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99);
}
.info-arrow-label:hover:after {
  color: #fff;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}
.info-arrow-label.mod-left:after {
  content: "‹";
}
.info-arrow-label.mod-right:after {
  content: "›";
}
.info-content {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-family: zero;
  z-index: 10;
  transition: transform 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99);
}
.info-content-page {
  display: inline-block;
  vertical-align: top;
  transition: transform 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99), opacity 0.5s cubic-bezier(0.22, 0.03, 0.45, 0.99);
}
.info-content-page:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.info-content-page-image {
  width: 100%;
  height: auto;
  display: block;
}