#backtotop {
    display: inline-block;
    background-color: #7289da;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 10%;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  
  #backtotop:hover {
    cursor: pointer;
    background-color: #333;
  }
  
  #backtotop:active {
    background-color: #555;
  }
  
  #backtotop.show {
    opacity: 0.4;
    visibility: visible;
  }