.tooltip {
    display: none;
    position: absolute;
    color: #eeeeee;
    background: #202020;
    padding: 5px 4px;
    border-radius: 3px;
    max-width: 150px;
    width: max-content;
    font-size: 0.83rem;
}

.tooltip-up {
    bottom: 40px;
    right: -10px;

    &::before {
        content: '';
        position: absolute;
        right: 10px;
        bottom: -6px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #202020;
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    background: #171717;
    width: 400px;
    height: max-content;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.514);
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.514);
    overflow: auto;
    scrollbar-width: none;
    margin: 0 0 0 18%;
}

.card::-webkit-scrollbar {
    display: none;
}

.card-header {
    padding: 0;

    .banner {
        width: 100%;
        height: 60px;
        background: #ff8527;
    }

    .banner-image {
        width: 100%;
        height: 120px;
        background-position: center !important;
        background-size: 100% auto !important;
    }

    .infos {
        padding: 0 15px;
        position: relative;

        .profil-logo {
            position: absolute;
            top: -175%;
            background: black;
            border-radius: 50%;
            height: 80px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            img {
                width: 80px;
                height: 80px;
                border: 6px solid #171717;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }

            &::before {
                opacity: 0;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                width: 87%;
                height: 84%;
                border: 6px solid #171717;
                content: 'See Profil';
                color: #eeeeee;
                background: #0000007e;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.7rem;
                text-transform: uppercase;
                transition-duration: 0.15s;
            }

            &:hover::before {
                opacity: 1;
            }
        }

        .badges-container {
            position: absolute;
            top: -58%;
            right: 0;
            padding: inherit;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 160px;

            .badge-item {
                position: relative;
                margin-left: 8px;
                margin-bottom: 5px;
                height: 15px;
                display: flex;
                justify-content: center;

                img {
                    height: 100%;
                }

                &:hover > .tooltip {
                    display: block;
                }
            }
        }

        .username {
            color: #eeeeee;
            margin-top: 39px;
            font-weight: 600;
            font-size: 1.3rem;

            span {
                font-weight: 500;
                color: #8f8f8f;
            }
        }

        hr {
            border: 1px solid #ffffff;
        }
    }
}

.card-content {
    padding: 0 15px;

    .category-title {
        color: #c2c2c2;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.85rem;
        margin-bottom: 10px;
    }

    .about-me {
        margin-bottom: 12px;

        p {
            color: #eee;
            font-size: 0.9rem;
        }
    }

    .roles {
        margin-bottom: 12px;

        .roles-list {
            display: flex;
            flex-wrap: wrap;

            .role {
                background: #353535;
                color: #f5f5f5;
                border-radius: 2px;
                font-size: 0.85rem;
                font-weight: 300;
                padding: 2px 6px;
                margin-right: 4px;
                margin-top: 4px;
                display: flex;
                align-items: center;
                flex-direction: row;

                .color {
                    width: 11px;
                    height: 11px;
                    background: orange;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }
    }

    .note {
        margin-bottom: 15px;

        textarea {
            border: none;
            outline: none;
            background: #171717;
            width: 100%;
            min-height: 30px;
            color: #e0e0e0;
            resize: none;
            font-size: 0.7rem;
            border-radius: 3px;
            padding: 5px;
            box-sizing: border-box;
            scrollbar-width: none;
            font-family: 'Whitney', sans-serif;

            &::-webkit-scrollbar {
                display: none;
            }

            &::placeholder {
                font-size: 0.7rem;
            }

            &:focus {
                background: #1f1f1f;
            }
        }
    }
}

.card-footer {
    padding: 0 15px 15px 15px;

    input {
        background: #353535;
        outline: none;
        border: 1.5px solid #333333;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        color: #eeeeee;
        transition-duration: 0.3s;

        &::focus {
            border-color: orange;
        }
    }
}

