body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(31, 31, 31);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}