.work {
  width: 100%;
  height: auto;
  display: grid;
}

.home_work_content {
  height: auto;
}

.work-title img {
  left: 50%;
  transform: translate(24%);
  height: auto;
  width: 70%;
}

.home_work_content .text {
  margin: 10px 0 0 40px;
  width: 40%;
}

.preview video {
  width: 50%;
  height: 30vh;
}

.more_projects {
  padding: 200px 0 0 0;
}

.more-about-work {
  float: left;
}
