@media only screen and (max-width: 425px) {
    .hp_header_txt {
        left: 50%;
        transform: translate(-50%, -120%);
        width: auto;
    }

    .hp_header_txt h1 {
        font-size: 17vw !important;
    }

    .hp_header_nav {
        top: auto !important;
        bottom: 5%;
        right: auto !important;
        left: 50%;
        transform: translateX(-50%) !important;
    }
    .hp_header_nav p {
        white-space: nowrap;
        display: inline;
        margin: 0 30px !important;
    }
}