<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./_head/head.ejs') %>
        <title>BlackDayz - Junior Web Developer.</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/slider/my-slider.css" />
        <link rel="stylesheet" href="css/dc_profile/dc_profile.css" />
        <link rel="stylesheet" href="https://www.blackdayz.de/Library/CSS/V0_0_1/BlackCSS.css" />
    </head>

    <body>
        <header class="top_page">
            <div class="head_text">
                <h1 class="black">BlackDayz.de</h1>
                <p><span class="red">Junior</span> Web Developer, <span class="red">Junior</span> Discord Bot Developer,
                    Discord Moderator</p>
            </div>
            <div class="head_arrows cursor-pointer">
                <p>Grab some fresh news about me!</p>
                <a href="#me"><img src="img/icons/double-down-arrow-24px.png" /></a>
            </div>
        </header>
        <main>

            <div class="about_me" id="me">

                <div class="about_me_left white">
                    <p><img src="img/icons/hello-48.png" width="42" /> Hey, my name is obviously Mittelblut9 I'm 19
                        years
                        old and a <span class="red">Junior</span> Web Developer living in Germany</p>
                    <br />
                    <p><img src="img/icons/degree-42.png" width="42" />At the moment I am completing my training as a
                        <strong>technical design assistant</strong> </p>
                    <br />
                    <p><img src="img/icons/cloud-48.png" width="42" /> Most of the days i'm working on projects like
                        websites or my own Discord Bot.. or uhm.. just playing games :)</p>
                </div>


                <div class="about_me_right">
                    <div class="card-container">
                        <div class="card">
                            <div class="card-header">
                                <div style="background: url('gif/banner.gif')" class="banner-image"></div>
                                <div class="infos">
                                    <div class="profil-logo">
                                        <img src="img/logo.png" />
                                    </div>
                                    <div class="badges-container">
                                        <!-- <div class="badge-item">
                                        <img src="img/badges/team.webp" alt="" />
                                        <div class="tooltip tooltip-up"></div>
                                    </div>
                                    <div class="badge-item">
                                        <img src="img/badges/partner.webp" alt="" />
                                        <div class="tooltip tooltip-up">Tooltip</div>
                                    </div>
                                    <div class="badge-item">
                                        <img src="img/badges/megabughunter.webp" alt="" />
                                        <div class="tooltip tooltip-up">Tooltip</div>
                                    </div>
                                    <div class="badge-item">
                                        <img src="img/badges/eventcreator.webp" alt="" />
                                        <div class="tooltip tooltip-up">Tooltip</div>
                                    </div> -->
                                        <div class="badge-item">
                                            <img src="img/badges/hypesquad.webp" alt="" />
                                            <div class="tooltip tooltip-up">HypeSquad Balance</div>
                                        </div>
                                        <div class="badge-item">
                                            <img src="img/badges/moderator.webp" alt="" />
                                            <div class="tooltip tooltip-up">Non-verified Discord Moderator</div>
                                        </div>
                                        <!-- <div class="badge-item">
                                        <img src="img/badges/firsttimenitro.webp" alt="" />
                                        <div class="tooltip tooltip-up"></div>
                                    </div> -->
                                        <div class="badge-item">
                                            <img src="img/badges/nitro.webp" alt="" />
                                            <div class="tooltip tooltip-up">Discord Nitro user</div>
                                        </div>
                                        <div class="badge-item">
                                            <img src="img/badges/boost.webp" alt="" />
                                            <div class="tooltip tooltip-up">Website boosting since 2019</div>
                                        </div>
                                    </div>
                                    <div class="username">Mittelblut9<span>#1974</span></div>
                                    <hr />
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="about-me">
                                    <div class="category-title">About Me</div>
                                    <p>
                                        🧑‍💻<strong>Web Dev</strong> - <i>vue3, nodejs, php</i><br />
                                        🛠️ <strong>Moderator</strong> <br />
                                        🛡️ <i><a href="https://www.yaeow.com/" class="link white" target="_blank"
                                                rel="nofollow">yaeow</a>, <a href="https://biglink.to/chilledsad"
                                                class="link white" target="_blank" rel="nofollow">chilledsad</a>, <a
                                                href="https://www.youtube.com/c/nostalgicmusic" class="link white"
                                                target="_blank" rel="nofollow">nostalgic</a>, <a
                                                href="https://www.youtube.com/channel/UCz-rxehhsrMAyBEJdf4NG2w"
                                                class="link white" target="_blank"
                                                rel="nofollow">thegoodvibe</a></i><br />
                                        🧑‍💻 <strong>Bot Developer</strong><br />
                                        🤖 Mittelbot <strong>BETA</strong>
                                    </p>
                                </div>
                                <div class="roles">
                                    <div class="category-title">Roles (Skills)</div>
                                    <div class="roles-list">
                                        <div class="role">
                                            <div class="color"></div>
                                            HTML5
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            CSS3
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            JavaScript
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            Node.js
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            Vue.js
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            PHP
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            Yii2
                                        </div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="category-title">Note</div>
                                    <textarea placeholder="Click for add a note"></textarea>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="text" placeholder="Send a message to @Mittelblut9" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="references user-select-none">
                <header class="center">
                    <h2>My work</h2>

                    <div class="ref_gif_top">
                        <img src="gif/developer_funny.gif" id="dev_funny_gif" />
                    </div>
                </header>
                <main class="display-flex justify-content-center">

                    <div class="ism-slider" data-interval="10000" id="my-slider">
                        <ol>
                            
                            <li>
                                <a href="/projects/prodbydaz"><img src="img/projects/prodbydaz.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Prodbydaz (Shop)</div>
                            </li>
                            <li>
                                <a href="/projects/nobadvibes"><img src="img/projects/nobadvibes.png"></a>
                                <div class="ism-caption ism-caption-0 bold">nobadVIBES (Fake-Shop, Showcase)</div>
                            </li>
                            <li>
                                <a href="/projects/changerjs"><img src="img/projects/changerjs.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Changer.js (Mini-Library)</div>
                            </li>
                            <li>
                                <a href="/projects/prodbydaz"><img src="img/projects/phenixgames.png"></a>
                                <div class="ism-caption ism-caption-0 bold">PhenixGames Homepage</div>
                            </li>
                            <li>
                                <a href="/projects/phenixgamesteam"><img src="img/projects/pg_teambereich_dark.png"></a>
                                <div class="ism-caption ism-caption-0 bold">PhenixGames Teambereich</div>
                            </li>
                            <li>
                                <a href="/projects/subscriptor"><img src="img/projects/subscriptor_startseite.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Subscriptor - Abonnement Verwaltung</div>
                            </li>
                            <li>
                                <a href="/projects/easylogindesign"><img src="img/projects/easylogin.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Easy Login Design</div>
                            </li>
                            <li>
                                <a href="/projects/redesign"><img src="img/projects/redesign.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Redesign (Schulprojekt)</div>
                            </li>
                        </ol>
                      </div>
                </main>
            </div>
        </main>
        <footer>
            <p><a href="/impressum" class="link black">Impressum</a> | <a href="/privacy" class="link black">privacy</a></p>
            <p>BlackDayz &copy; 2022</p>
        </footer>
        <script src="js/main.js"></script>
        <script src="js/ism-2.2.min.js"></script>
    </body>

</html>
