<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/slider/slider.css" />
        <link rel="stylesheet" href="css/dc_profile/dc_profile.css" />
        <link rel="stylesheet" href="https://www.blackdayz.de/Library/CSS/V0_0_1/BlackCSS.css" />
    </head>

    <body>
        <header class="top_page">
            <div class="head_text">
                <h1 class="black">BlackDayz.de</h1>
                <p><span class="red">Junior</span> Web Developer, <span class="red">Junior</span> Discord Bot Developer,
                    Discord Moderator</p>
            </div>
            <div class="head_arrows cursor-pointer">
                <p>Grab some fresh news about me!</p>
                <img src="img/icons/double-down-arrow-24px.png" />
            </div>
        </header>
        <main>

            <div class="about_me">

                <div class="about_me_left white">
                    <p><img src="img/icons/hello-48.png" width="42" /> Hey, my name is obviously Mittelblut9 I'm 19
                        years
                        old and a <span class="red">Junior</span> Web Developer living in Germany</p>
                    <br />
                    <p><img src="img/icons/degree-42.png" width="42" />At the moment I am completing my training as a
                        technical design assistant </p>
                    <br />
                    <p><img src="img/icons/cloud-48.png" width="42" /> Most of the days i'm working on projects like
                        websites or my own Discord Bot</p>
                </div>


                <div class="about_me_right">
                    <div class="card-container">
                        <div class="card">
                            <div class="card-header">
                                <div style="background: url('gif/banner.gif')" class="banner-image"></div>
                                <div class="infos">
                                    <div class="profil-logo">
                                        <img src="img/logo.png" />
                                    </div>
                                    <div class="badges-container">
                                        <!-- <div class="badge-item">
                                        <img src="img/badges/team.webp" alt="" />
                                        <div class="tooltip tooltip-up"></div>
                                    </div>
                                    <div class="badge-item">
                                        <img src="img/badges/partner.webp" alt="" />
                                        <div class="tooltip tooltip-up">Tooltip</div>
                                    </div>
                                    <div class="badge-item">
                                        <img src="img/badges/megabughunter.webp" alt="" />
                                        <div class="tooltip tooltip-up">Tooltip</div>
                                    </div>
                                    <div class="badge-item">
                                        <img src="img/badges/eventcreator.webp" alt="" />
                                        <div class="tooltip tooltip-up">Tooltip</div>
                                    </div> -->
                                        <div class="badge-item">
                                            <img src="img/badges/bravery.webp" alt="" />
                                            <div class="tooltip tooltip-up">Tooltip</div>
                                        </div>
                                        <div class="badge-item">
                                            <img src="img/badges/moderator.webp" alt="" />
                                            <div class="tooltip tooltip-up">Non-verified Discord Moderator</div>
                                        </div>
                                        <!-- <div class="badge-item">
                                        <img src="img/badges/firsttimenitro.webp" alt="" />
                                        <div class="tooltip tooltip-up"></div>
                                    </div> -->
                                        <div class="badge-item">
                                            <img src="img/badges/nitro.webp" alt="" />
                                            <div class="tooltip tooltip-up">Discord Nitro user</div>
                                        </div>
                                        <div class="badge-item">
                                            <img src="img/badges/boost.webp" alt="" />
                                            <div class="tooltip tooltip-up">Website boosting since 2019</div>
                                        </div>
                                    </div>
                                    <div class="username">Mittelblut9<span>#1974</span></div>
                                    <hr />
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="about-me">
                                    <div class="category-title">About Me</div>
                                    <p>
                                        🧑‍💻<strong>Web Dev</strong> - <i>vue3, nodejs, php</i><br />
                                        🛠️ <strong>Moderator</strong> <br />
                                        🛡️ <i><a href="https://www.yaeow.com/" class="link white" target="_blank"
                                                rel="nofollow">yaeow</a>, <a href="https://biglink.to/chilledsad"
                                                class="link white" target="_blank" rel="nofollow">chilledsad</a>, <a
                                                href="https://www.youtube.com/c/nostalgicmusic" class="link white"
                                                target="_blank" rel="nofollow">nostalgic</a>, <a
                                                href="https://www.youtube.com/channel/UCz-rxehhsrMAyBEJdf4NG2w"
                                                class="link white" target="_blank"
                                                rel="nofollow">thegoodvibe</a></i><br />
                                        🧑‍💻 <strong>Bot Developer</strong><br />
                                        🤖 Mittelbot <strong>BETA</strong>
                                    </p>
                                </div>
                                <div class="roles">
                                    <div class="category-title">Roles</div>
                                    <div class="roles-list">
                                        <div class="role">
                                            <div class="color"></div>
                                            Role title
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            A long role title
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            A very very very very long role title
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            Role title
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            Role title
                                        </div>
                                        <div class="role">
                                            <div class="color"></div>
                                            Role title
                                        </div>
                                    </div>
                                </div>
                                <div class="note">
                                    <div class="category-title">Note</div>
                                    <textarea placeholder="Click for add a note"></textarea>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="text" placeholder="Send a message to @Mittelblut9" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="references user-select-none">
                <header class="center">
                    <h2>My work</h2>

                    <div class="ref_gif_top">
                        <img src="gif/developer_funny.gif" id="dev_funny_gif" />
                    </div>
                </header>
                <main class="">

                    <div class="info">
                        <input class="info-input js-input" id="nbv" name="info-input" type="radio" checked="" />
                        <input class="info-input js-input" id="proddaz" name="info-input" type="radio" />
                        <input class="info-input js-input" id="phenixgames" name="info-input" type="radio" />
                        <input class="info-input js-input" id="phenixgames_2" name="info-input" type="radio" />

                        <ul class="info-tab">
                            <label class="info-tab-label" for="nbv"><span class="info-tab-label-dot"></span></label>
                            <label class="info-tab-label" for="proddaz"><span class="info-tab-label-dot"></span></label>
                            <label class="info-tab-label" for="phenixgames"><span class="info-tab-label-dot"></span></label>
                            <label class="info-tab-label" for="phenixgames_2"><span class="info-tab-label-dot"></span></label>
                        </ul>
                        <div class="info-arrow mod-left">
                            <label class="info-arrow-label mod-left" for="nbv"></label>
                            <label class="info-arrow-label mod-left" for="proddaz"></label>
                            <label class="info-arrow-label mod-left" for="phenixgames"></label>
                            <label class="info-arrow-label mod-left" for="phenixgames_2"></label>
                        </div>
                        <div class="info-arrow mod-right">
                            <label class="info-arrow-label mod-right" for="nbv"></label>
                            <label class="info-arrow-label mod-right" for="proddaz"></label>
                            <label class="info-arrow-label mod-right" for="phenixgames"></label>
                            <label class="info-arrow-label mod-right" for="phenixgames_2"></label>
                        </div>
                        <ul class="info-content">
                            <li class="info-content-page js-image">
                                <label class="info-content-page-arrow mod-left" for="info">
                                    <span class="info-content-page-arrow"></span>
                                </label>
                                <img class="info-content-page-image" src="img/projects/nobadvibes_dark.png" draggable="false" />
                            </li>
                            <li class="info-content-page js-image">
                                <img class="info-content-page-image" src="img/projects/prodbydaz_dark.png" draggable="false" />
                            </li>
                            <li class="info-content-page js-image">
                                <img class="info-content-page-image" src="img/projects/phenixgames.png" draggable="false" />
                            </li>
                            <li class="info-content-page js-image">
                                <img class="info-content-page-image" src="img/projects/phenixgames.png" draggable="false" />
                            </li>
                        </ul>
                    </div>
                </main>
            </div>
        </main>
        <script src="js/main.js"></script>
    </body>

</html>
