<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include('../_head/head.ejs') %>
        <title>Mittelbot - Discord Bot</title>
        <link href="../css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/xue1nky.css">
    </head>
    <body>
        <div class="p_detail">
            <div class="p_info">
                <a href="../" id="back">back</a>
                <h1>Mittelbot - Discord Bot</h1>
                <h4>Die Grundidee ...</h4>
                <p>
                    ... hinter dem Bot war eigentlich nur das Testen der Discord API. Daraus enstand schnell ein Feature nach dem anderen. <br />
                    Jetzt hat der Bot die Grundfeatures eines Moderations Bot und alle Informationen, die benötigt werden, werden in einer Datenbank gespeichert.
                </p>
                <div class="p_links">
                    <img src="https://img.icons8.com/color/48/000000/code.png"/><h5><a href="https://gitlab.com/Mittelblut9/BlackDayz-Homepage">GitHub</a></h5>
                </div>
                <h4>Entwickelt mit:</h4>
                <p><img src="https://img.icons8.com/color/48/000000/nodejs.png" title="node.js"/></p>

            </div>
            <div class="p_img">
                <video autoplay muted loop>
                    <source src="../mp4/mittelbot_v1.mp4">
                </video>
            </div>
        </div>
    </body>
</html>