<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include('../_head/head.ejs') %>
        <title>PhenixGames Homepage</title>
        <link href="../css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/xue1nky.css">
    </head>
    <body>
        <div class="p_detail">
            <a href="../" id="back">back</a>
            <header>
                <h1 class="absolute">PhenixGames Homepage</h1>
                <p class="absolute"><img src="https://img.icons8.com/windows/48/000000/vuejs.png" title="Vue.js"/></p>
            </header>
            <main class="p_info">
                <h4>Die Grundidee ...</h4>
                <p>
                    ... hinter dieser Webseite war die Präsentation des privaten Projektes von mir und zwei Freunden.
                </p>
                <div class="p_links">
                    <img src="https://img.icons8.com/material-rounded/48/000000/external-link.png"/><h5><a href="#">Webseite</a></h5> <br />
                    <img src="https://img.icons8.com/color/48/000000/code.png"/><h5><a href="https://github.com/PhenixGames/PhenixGames-Homepage">GitHub</a></h5>
                </div>
            </main>
            <footer class="p_img">
                <img src="../img/projects/phenixgames.png" />
            </footer>
        </div>
    
    </body>
</html>