/*! MEDIA QUERY WIDTH */

@media (max-width: 1399px) {
  .work_content label {
    display: block;
  }
  .workiframe iframe {
    max-width: 100%;
  }
}
@media (min-width: 1399px) {
  .about .erfahrungen {
    display: none;
  }
}

@media (max-width: 1113px) {
  .workiframe {
    margin: 100px 0 0 0;
  }
  .video_creator .left_header h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 1107px) {
  .about-our-way-visual-info {
    display: contents;
  }
  .about-our-way-visual-img {
    margin: 50px 0 0 0 !important;
  }
  .about-our-way-visual {
    display: table; 
    justify-content: center; 
    align-items: center;
  }
  .about {
    height: auto;
  }
}

@media (min-width: 1107px) {
  .preview iframe {
    width: 500px;
  }
  .about-our-way-visual {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .about-our-way-visual-header-last{
    padding: 0 !important;
  }
}

@media (max-width: 857px) {
  .workname h1 {
    width: auto;
    margin: 20px;
  }
  .worktext p {
    width: auto;
    margin: 30px;
  }
  .bts-pics {
    margin: 0;
  }
  .bts-pics img {
    width: 100%;
    height: auto;
    margin: 100px 0 20px 0;
  }
}

@media (max-width: 768px) {
  .header video {
    display: none;
  }
  .header {
    display: block;
    background: url("https://www.blackdayz.de/src/img/homescreen/video_entwickler.jpg")
      no-repeat;
    background-position: center;
    background-size: cover;
  }
  .about h1 {
    font-size: 2.5em;
  }
  .about-text {
    width: 100%;
  }
  .about-text p {
    font-size: 1em;
  }
  .video_creator .right_side {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .video_creator .left_side {
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow-y: scroll;
    background: #ffffffe3;
    border-top: 2px solid black;
  }

  /* .web_developer .left_side {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .web_developer .right_side {
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow-y: scroll;
    background: #ffffffe3;
    border-top: 2px solid black;
  }

  .app_developer .right_side {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .app_developer .left_side {
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow-y: scroll;
    background: #ffffffe3;
    border-top: 2px solid black;
  } */

  .work-title,
  .text {
    display: none;
  }
  .more-about-work {
    margin: 10px;
  }
  .home_work_content {
    padding: 0;
  }
  .preview iframe {
    padding: 0;
    width: 100%;
    height: 60vh;
  }
  .footer {
    padding: 100px 0 0 0;
  }
  .legalinformation {
    width: auto;
  }
  #Impressum {
    float: left;
  }
  #Datenschutz {
    max-width: 100%;
    padding: 5px;
  }
  #Impressum {
    max-width: 100%;
    padding: 5px;
  }
}

@media (max-width: 605px) {
  .section iframe {
    max-width: 100%;
  }
  .section span {
    width: 100%;
    overflow-x: scroll;
  }
  .section span::-webkit-scrollbar {
    width: 0;
  }
  .section span::-webkit-scrollbar-track {
    background: transparent;
  }
  .section span::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .section .norelease {
    width: 100%;
  }
  .about .right_side h1 {
    font-size: 2em;
  }
  .about .right_side h2 {
    font-size: 1em;
  }
  .video_creator .left_header h1 {
    font-size: 2em;
  }
  .web_developer .right_header h1 {
    font-size: 2em;
  }
  .app_developer .left_header h1 {
    font-size: 2em;
  }
}

@media (min-aspect-ratio: 16/9) {
  .header video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .header video {
    width: 100%;
    height: 10vh;
  }
}

@media (max-width: 455px) {
  .workname h1 {
    text-align: center;
    font-size: 3em;
  }
  .worktext p {
    font-size: 0.9em;
    float: none;
  }
  .Error h1 {
    font-size: 6em;
    margin: 200px 0 0 0;
  }
  h1 {
    font-size: 1.3em;
  }
  .footer ul li {
    display: inline-block;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .video_creator .left_header h1 {
    font-size: 1em;
  }
}
