.red {
  color: red;
}
.white {
  color: white;
}
.black {
  color: black;
}
.tiny {
  font-size: 0.5em;
}
.big {
  font-size: 1.5em;
}
.font {
  font-family: marine, sans-serif;
}
.bold {
  font-weight: 900;
}
.italic {
  font-style: italic;
}
.Disputed {
  font-family: ysans-std-mondrian, sans-serif;
}
.textright {
  text-align: right;
}
.textleft {
  text-align: left;
}
.listen ul li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.bg_white {
  background: white;
}
.bg_black {
  background: black;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
