name: Code Check

on:
    pull_request:
        branches: [main, dev]
    push:
        branches: [dev]

jobs:
    prettier:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  ref: ${{ github.head_ref }}
                  fetch-depth: 0

            - name: Prettify code
              uses: creyD/prettier_action@v4.3
              with:
                  prettier_options: '--config .tools/prettier/.prettierrc --ignore-path .tools/prettier/.prettierignore --check .'
                  dry: true
                  only_changed: True
